version: '3.7'
services:
  mysqldb:
    image: mysql
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: leasing
    ports:
      - "3306:3306"

  leasing:
    depends_on:
      - mysqldb
    restart: on-failure
    environment:
        SPRING_APPLICATION_JSON: '{
               "spring.datasource.url"  : "jdbc:mysql://mysqldb:3306/leasing?createDatabaseIfNotExist=true",
               "spring.datasource.username" : "root",
               "spring.datasource.password" : "root",
               "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL5InnoDBDialect",
               "spring.jpa.hibernate.ddl-auto" : "update"
             }'
    build:
      context: ./
      dockerfile:
        Dockerfile
    ports:
      - "8081:8081"
networks:
  default:
    name: allane_network
